<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Books</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<!-- <app-header></app-header> -->
    <body>
     <section class="cuerpo">
        <div class="cuerpo__superior">
        <h3 class="cuerpo__superior_texto">
             LA MEJOR LIBRERIA DEL MUNDO
            </h3>
            <div class="cuerpo__subtitulo">
                <h6 class="cuerpo__subtitulo_texto">
                Ven con nosotros a disfrutar de la lectura
                </h6>
            </div>
            </div>
        </section>
        <!-- <app-footer></app-footer> -->
    </body>
</html>
