<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Books</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
<header>

    <!-- <img src="../../../assets/logo/Logo corporativo para escritores vintage azul.png" alt="Libreria Piris" id="logo"> -->
<h1>My Books</h1> 
    <nav><ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/add-book">AddBook</a></li>
            <li><a routerLink="/update-book">UpdateBook</a></li>
            <li><a routerLink="/books">Books</a></li>
            <li><a routerLink="/registro">Registro</a></li>
            <li><a routerLink="/perfil">Perfil</a></li>
           

        </ul></nav>
</header>
</body>
</html>

<!-- */<li><a href="/">Home</a></li>/* -->