<div class="container py-5">
    <div class="d-flex" *ngIf="libros.length > 0; else sinLibros">
        <ng-container *ngFor="let l of libros; let i = index">
            <div class="card" [ngClass]="i % 2 === 0 ? 'card1' : 'card2'">
                <img src="https://imagenes.elpais.com/resizer/vjqjNHywZ4NUTa215xZwYYh2iIY=/980x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/YC5XJK5X2DES4MGR2W3HWWS7JU.jpg" alt="Avatar" style="width:100%">
                <small>{{l.tipoLibro}}</small>
                <h1>{{l.titulo}}</h1>
                <p>Autor: {{l.autor}}</p>
                <p>{{l.id_libro | libros}}</p>
                <p class="price">{{l.precio}}€</p>
                <p><button >Comprar</button></p>
              </div>
        </ng-container>
     </div>
     <ng-template #sinLibros>
        <div class="alert alert-info">
            No hay libros, puedes agregarlos desde el formulario
        </div>
     </ng-template>

     <div class="bloqueForm">
        <div class="bloqueFormBody">
            <div class="form ">
                <h1 class="titleForm">Introduce un libro</h1>
                <div class="input">
                    <input #input1 class="input1" type="number" placeholder="ID Libro" />
                </div>
                <div class="input">
                    <input #input2 class="input1" type="number" placeholder="ID User " />
                </div>
                <div class="input">
                    <input #input3 class="input1" type="text" placeholder="Título" />
                </div>
                <div class="input">
                    <input #input4 class="input1" type="text" placeholder="Tipo" />
                </div>
                <div class="input">
                    <input #input5 class="input1" type="text" placeholder="Autor" />
                </div>
                <div class="input">
                    <input #input6 class="input1" type="number" placeholder="Precio" />
                </div>
                <div class="input">
                    <input #input7 class="input1" type="text" placeholder="URL" />
                </div>
                <button class="botonForm"
                     (click)=enviar(input1.value,input2.value,input3.value,input4.value,input5.value,input6.value,input7.value)>Insertar libro</button>
            </div>
        </div>
    </div>

 
</div>