<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Books</title>
    <link rel="stylesheet" href="footer.component.css">
</head>
<footer class="footer">
      
        <div>Copyright 2022 // Manuel Piris</div>
        <div>Síguenos en <a href="https://www.instagram.com/explore/tags/libreria/?hl=es">Instagram</a></div>
        <div>Síguenos en <a href="https://twitter.com/libreriasmadrid?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a></div>
        <div>Síguenos en <a href="https://es-es.facebook.com/libreria.e.libros">Facebook</a></div>
     </footer>

<body>  
</body>
</html>
