<div class="bloqueForm">
    <div class="bloqueFormBody">
        <div class="form ">
            <h1 class="titleForm">Introduce un libro</h1>
            <div class="input">
                <input #input1 class="input1" type="number" placeholder="ID Libro" />
            </div>
            <div class="input">
                <input #input2 class="input1" type="number" placeholder="ID User " />
            </div>
            <div class="input">
                <input #input3 class="input1" type="text" placeholder="Título" />
            </div>           
            <div class="input">
                <input #input4 class="input1" type="text" placeholder="Autor" />
            </div>
            <div class="input">
                <input #input5 class="input1" type="text" placeholder="tapa blanda/ tapa dura" />
            </div>
            <div class="input">
                <input #input6 class="input1" type="number" placeholder="Precio" />
            </div>
            <div class="input">
                <input #input7 class="input1" type="text" placeholder="URL" />
            </div>
            <button class="botonForm"
                 (click)=addBook(input1.value,input2.value,input3.value,input4.value,input5.value,input6.value,input7.value)>Insertar libro</button>
        </div>
    </div>
</div>