<div class="Contenedor">
    <div class="Formulario">
        <form action="" class="form">
          <h1 class="title">Formulario Registro</h1>
    
          <div class="inputContainer">
            <input #nombre type="text" class="input" placeholder="Nombre">
            <label for="" class="label"></label>
          </div>
    
          <div class="inputContainer">
            <input #apellidos type="text" class="input" placeholder="Apellidos">
            <label for="" class="label"></label>
          </div>
  
          <div class="inputContainer">
            <input #email type="email" class="input" placeholder="Email">
            <label for="" class="label"></label>
          </div>
  
          <div class="inputContainer">
            <input #url type="text" class="input" placeholder="Url">
            <label for="" class="label"></label>
          </div>
    
          <div class="inputContainer">
            <input #pass type="text" class="input" placeholder="Contraseña">
            <label for="" class="label"></label>
          </div>
    
          <div class="inputContainer">
            <input #passRep type="text" class="input" placeholder="Repetir Contraseña">
            <label for="" class="label"></label>
          </div>
    
          <input (click)="registrarse(nombre.value,apellidos.value,email.value,url.value,pass.value,passRep.value)" type="button" class="submitBtn" value="Enviar Datos">
        </form>
      </div>
    </div>